<div class="js-siteAlert siteAlert container-wrap" data-status="{{ section.settings.show_announcement }}" data-status-mobile="{{ section.settings.show_announcement_on_mobile }}">
  <div class="container u-center">
      <div class="row row-lg u-center">
        <div class="block u-center">
          <a href = "{{section.settings.link}}">
            <span class="alert-title h4">{{ section.settings.text }}</span>
          </a>
        </div>
      </div>
  </div>
</div>