<script id="Spinner" type="text/template">
  <div class="spinner">
    <div class="spinner-diamond left">
      <span></span>
    </div>
    <div class="spinner-diamond">
      <span></span>
    </div>
    <div class="spinner-diamond right">
      <span></span>
    </div>
  </div>
</script>