<div id="VariantPopoverContainer" class="popover-container"><div class="popover"></div></div>

<script id="VariantPopover" type="text/x-handlebars-template">
<div class="popover-inner">
	<span class="product-selected-mark is-visible"></span>
	{% raw %}
	<div class="popover-item-thumb" data-bg-src="{{img}}" style="background-image: url('{{img}}');">
		<!--[if IE 8]>
		<img src="{{img}}" />
		<![endif]-->
	</div>
	{% endraw %}
	<h4>SELECTED</h4>
	<!-- <i class="icon-arrow-left"></i> -->
</div>
</script>
