#gift-card-outer-container {
	background-color: #f4f4f4;
}
.header-logo {
	text-align: center;
}
.inline-block {
	display: inline-block;
}
.logo-text {
	color: #222222;
	font-size: 2em;
}
.giftcard__footer{
  text-align: center;

  a {
    display: inline-block;
  }
}
